<h3>Task List</h3>
<% @tasks.each do |task| %>
  <div class="index-task">
    <% if task.completed%>
      <p class="completed">☑</p>
    <% else %>
      <p class="Incomplete">□</p>
    <% end %>
    <%= link_to task.title, task_path(task) %>
  </div>
  <br>
<% end %>
